5.1 Print

In [1]:
print('Ini Kelas Algoritma!')

Ini Kelas Algoritma!

In [2]:
print("Ini Kelas Algoritma!")

Ini Kelas Algoritma!

In [3]:
print("I don't understand what are you saying")

I don't understand what are you saying

In [4]:
print('I don't understand what are you saying')

SyntaxError: invalid syntax (Temp/ipykernel_6936/3159777967.py, line 1)

In [5]:
print('He is such a "GENIUS"')

He is such a "GENIUS"

In [6]:
print("He is such a "GENIUS"")

SyntaxError: invalid syntax (Temp/ipykernel_6936/4075591835.py, line 1)

In [ ]:
#contoh penggunaan perintah print

In [7]:
mahasiswa = 42
uang_di_dompet = 100000
print(mahasiswa)
print(uang_di_dompet)
print(mahasiswa*uang_di_dompet)

42
100000
4200000

In [8]:
nama_depan = 'Angga'
nama_tengah = ' '
nama_belakang = "Saputra"
print(nama_depan + nama_tengah + nama_belakang)

Angga Saputra

In [ ]:
#contoh lainnya

In [9]:
nama_depan = 'linda'
nama_tengah = ' '
nama_belakang = "maharani"
print(nama_depan + nama_tengah + nama_belakang)

linda maharani

In [10]:
mahasiswa = 16
uang_di_dompet = 250000
print(mahasiswa)
print(uang_di_dompet)
print(mahasiswa*uang_di_dompet)

16
250000
4000000

In [11]:
nama_depan = 'Putu '
nama_tengah = 'Linda '
nama_belakang = "Maharani"
print(nama_depan + nama_tengah + nama_belakang)

Putu Linda Maharani

5.2 Input

In [12]:
nama = input("Siapakah nama anda? ")
kegiatan = input('Apakah kegiatan anda sekarang, ' + nama +"? ")
print("Semangat "+ kegiatan +" nya yah, " + nama + "!")

Siapakah nama anda? Linda
Apakah kegiatan anda sekarang, Linda? Belajar
Semangat Belajar nya yah, Linda!

In [ ]:
#contoh penggunaan perintah input

In [13]:
nama = input("Siapakah nama anda? ")
umur = input('Berapakah umur anda sekarang, ' + nama +"? ")
print("Happy Birthday "+ nama +" yang ke " + umur + ", semoga panjang umur dan sehat selalu")

Siapakah nama anda? Linda
Berapakah umur anda sekarang, Linda? 18
Happy Birthday Linda yang ke 18, semoga panjang umur dan sehat selalu

5.3 Tipe Data Pada Phyton

In [ ]:
#cara merubah tipe data

In [14]:
uang_di_dompet = input("Berapakah jumlah uang di dompet anda? ")
uang_di_bank = input("Berapakah jumlah uang anda di bank? ")
print("Total uang anda adalah Rp " + uang_di_dompet + uang_di_bank)

Berapakah jumlah uang di dompet anda? 1000
Berapakah jumlah uang anda di bank? 2000
Total uang anda adalah Rp 10002000

In [15]:
uang_di_dompet = input("Berapakah jumlah uang di dompet anda? ")
uang_di_bank = input("Berapakah jumlah uang anda di bank? ")
total_uang = int(uang_di_dompet) + int(uang_di_bank)
print("Total uang anda adalah Rp "+ str(total_uang))

Berapakah jumlah uang di dompet anda? 1000
Berapakah jumlah uang anda di bank? 2000
Total uang anda adalah Rp 3000

In [ ]:
#cara melihat tipe data varibel

In [16]:
type(uang_di_dompet)

str

In [17]:
type(uang_di_bank)

str

In [18]:
type(total_uang)

int

In [ ]:
#latihan

In [19]:
bilangan_satu = input("Masukkan bilangan satu ")
bilangan_kedua = input("Masukkan bilangan kedua ")
jumlah = float(bilangan_satu) + float(bilangan_kedua)
print("pemjumlahan kedua bilangan tersebut adalah "+ str(jumlah))

Masukkan bilangan satu 28
Masukkan bilangan kedua 16
pemjumlahan kedua bilangan tersebut adalah 44.0

In [20]:
bilangan_genap = input("Masukkan bilangan genap ")
bilangan_ganjil = input("Masukkan bilangan ganjil ")
jumlah = float(bilangan_genap) - float(bilangan_ganjil)
print("selisih antara bilangan genap dan bilangan ganjil tersebut adalah "+ str(jumlah))

Masukkan bilangan genap 10
Masukkan bilangan ganjil 55
selisih antara bilangan genap dan bilangan ganjil tersebut adalah -45.0

5.4 Formated String

In [22]:
nama = "Linda"
pekerjaan = "Pelajar"
institusi = "Universitas Udayana"
fakultas = " Matematika dan Ilmu Pengetahuan Alam"
print(nama + ' adalah seorang ' + pekerjaan + ' di ' + institusi + fakultas)

Linda adalah seorang Pelajar di Universitas Udayana Matematika dan Ilmu Pengetahuan Alam

In [24]:
print(f'{nama} adalah seorang {pekerjaan} di {institusi}{fakultas}.')

Linda adalah seorang Pelajar di Universitas Udayana Matematika dan Ilmu Pengetahuan Alam.

In [25]:
print(f"{nama} adalah seorang {pekerjaan} di {institusi}.")

Linda adalah seorang Pelajar di Universitas Udayana.

5.5 Strings Index

In [26]:
kelas = 'ini kelas algoritma'

In [27]:
print(kelas[0:3])

ini

In [28]:
print(kelas[0:-1])

ini kelas algoritm

In [29]:
print(kelas[5:-1])

elas algoritm

In [30]:
print(kelas[2:-1:3])

ieslrm

In [31]:
print(kelas[:-3])

ini kelas algori

In [32]:
print(kelas[1:])

ni kelas algoritma

In [33]:
print(kelas[:])

ini kelas algoritma

5.6 Strings Methods

In [34]:
judul = 'Bali Surga Dunia'

In [35]:
print(len(judul))

16

In [36]:
judul.upper()

'BALI SURGA DUNIA'

In [37]:
judul.lower()

'bali surga dunia'

In [38]:
judul.find('Surga')

5

In [39]:
judul.find('bali')

-1

In [40]:
judul.replace('Bali', 'Indonesia')

'Indonesia Surga Dunia'

In [41]:
judul.replace('bali', 'Indonesia')

'Bali Surga Dunia'

In [42]:
print('Bali' in judul)

True

In [43]:
print('bali' in judul)

False

In [ ]:
#contoh lainnya

In [45]:
judul = 'Matematika Sangat Menyenangkan'

In [46]:
print(len(judul))

30

In [47]:
judul.upper()

'MATEMATIKA SANGAT MENYENANGKAN'

In [48]:
judul.lower()

'matematika sangat menyenangkan'

In [49]:
judul.find('Sangat')

11

In [50]:
judul.find('matematika')

-1

In [51]:
judul.replace('Matematika', 'Pelajaran')

'Pelajaran Sangat Menyenangkan'

In [52]:
judul.replace('matematika', 'Pelajaran')

'Matematika Sangat Menyenangkan'

In [53]:
print('Matematika' in judul)

True

In [54]:
print('matematika' in judul)

False

5.7 Operasi Matematika di Phyton

In [55]:
print(2+3)
print(2-5)
print(2*3)
print(7/3)
print(7//3)
print(7%3)
print(2**3)
x=3
x+=1
print(x)
x=-2
print(x)
x*=3
print(x)

5
-3
6
2.3333333333333335
2
1
8
4
-2
-6

In [ ]:
#contoh lainnya

In [56]:
print(15/4)

3.75

In [57]:
print(11**13)

34522712143931

5.8 Operator Perbandingan di Phyton

In [59]:
x = 3>2
print(x)
x = 2<3
print(x)
x = 3 >= 2
print(x)
x = 2 <= 3
print(x)
x = 3 == 3
print(x)
x = 3 != 4
print(x)

True
True
True
True
True
True

In [60]:
x = 2>3
print(x)
x = 3<2
print(x)
x = 2 >= 3
print(x)
x = 3 <= 2
print(x)
x = 3 == 4
print(x)
x = 3 != 3
print(x)

False
False
False
False
False
False

5.9 Operator Logika di Phyton

In [61]:
buah_manggis = 10
buah_mangga = 15
print(buah_manggis > 8 and buah_mangga < 20)

True

In [62]:
print(buah_manggis < 8 or buah_mangga < 20)

True

In [63]:
print(buah_manggis < 8 or buah_mangga > 20)

False

In [64]:
print(not (buah_manggis < 8 or buah_mangga > 20))

True

5.10 Operator If di Phyton

In [65]:
nilai = float(input("Nilai anda adalah "))
if nilai >= 80:
    print("Anda mendapatkan nilai A")
    print("Bagus sekali, selamat!")
if nilai < 80 and nilai >= 70:
    print("Anda mendapatkan nilai B")
    print("Tingkatkan prestasimu!")
if nilai >= 60 and nilai < 70:
    print("Anda mendapatkan nilai C")
    print("Lain kali harus lebih baik!")
if nilai >= 50 and nilai < 60:
    print("Anda mendapatkan nilai D")
    print("Ulang lagi tahun depan")
if nilai < 50:
    print("Anda mendapatkan nilai E")
    print("sampai jumpa tahun depan")

Nilai anda adalah 86
Anda mendapatkan nilai A
Bagus sekali, selamat!

In [66]:
nilai = float(input("Nilai anda adalah "))
if nilai >= 80:
    print("Anda mendapatkan nilai A")
    print("Bagus sekali, selamat!")
elif nilai >= 70:
    print("Anda mendapatkan nilai B")
    print("Tingkatkan prestasimu!")
elif nilai >= 60:
    print("Anda mendapatkan nilai C")
    print("Lain kali harus lebih baik!")
elif nilai >= 50:
    print("Anda mendapatkan nilai D")
    print("Ulang lagi tahun depan")
else:
    print("Anda mendapatkan nilai E")
    print("sampai jumpa tahun depan")

Nilai anda adalah 43
Anda mendapatkan nilai E
sampai jumpa tahun depan

In [ ]:
#contoh lainnya

In [67]:
nilai = float(input("Nilai kuis Algoritma Anda adalah "))
if nilai >= 85:
    print("Anda mendapatkan nilai A")
    print("Bagus pertahankan, selamat!")

Nilai kuis Algoritma Anda adalah 99
Anda mendapatkan nilai A
Bagus pertahankan, selamat!

In [69]:
nilai = float(input("Nilai ujian Kalkulus Anda adalah "))
if nilai <= 50:
    print("Anda mendapatkan nilai D")
    print("Tingkatkan lagi!")

Nilai ujian Kalkulus Anda adalah 44
Anda mendapatkan nilai D
Tingkatkan lagi!

In [ ]:
berat = float(input("Berapakah berat badan Anda? "))
kg_atau_g = input("Berat dalam kg atau g? ")
if kg_atau_g.upper() == 'KG':
    berat = berat*1000
    print("Berat badan Anda adalah " + str(berat) + "g. ")
elif kg_atau_g.upper() == 'G':
    berat = berat/1000
    print("Berat badan Anda adalah " + str(berat) + "kg. ")

In [71]:
berat = float(input("Berapakah berat badan Anda? "))
kg_atau_g = input("Berat dalam kg atau g? ")
if kg_atau_g.upper() == 'KG':
    berat = berat*1000
    print("Berat badan Anda adalah " + str(berat) + "g. ")
elif kg_atau_g.upper() == 'G':
    berat = berat/1000
    print("Berat badan Anda adalah " + str(berat) + "kg. ")

Berapakah berat badan Anda? 46
Berat dalam kg atau g? kg
Berat badan Anda adalah 46000.0g.

In [ ]:
#latihan

In [ ]:
tinggi = float(input("Berapakah tinggi Anda? "))
cm_atau_inci = input("Tingginya dalam cm atau inci? ")

if cm_atau_inci.upper() == 'CM':
    tinggi = tinggi*0,393701
    print("Tinggi Anda adalah " + str(tinggi) + "inci ")
elif cm_atau_inci.upper() == 'INCI':
    tinggi = tinggi/0,303701
    print(f"Tinggi Anda adalah {tinggi} cm")

5.11 While Loop

In [ ]:
a = 0
while a < 5:
    print("Angka " + str(a)+" masih dibawah 5")
    a += 1

In [ ]:
a = 0
while a < 5: 
    print(a * '*')
    a += 1

In [ ]:
a = 0
while a < 20:
    print("Angka " + str(a)+" masih dibawah 50")
    a += 1